*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-image: url("teglafal.jpg");
    color: beige;
    font-size: 10pt;
    font-family: Arial, Verdana, sans-serif;
}
main{
    margin: auto;
    width: 80%;
    max-width: 1000px;
    background-color: #333333;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
    "h h"
    "a n"
    "f f";
}

header{
    grid-area: h;
    background-image: url("beer-new_401732638.jpg");
    background-size: cover;
    height: 300px;
}
header>h1{
    font-weight: bold;
    font-family: Garamond;
    font-size: 32px;
    text-align: left;
    margin: 30px 0 0 30px;
}
nav{
    grid-area: n;
    font-weight: bold;
}
nav>ul{
    display: block;
}
nav>ul>li{
    list-style-type: none;
    border: 1px solid white;
    border-radius: 10%;
    padding: 5px;
    margin: 0 10px 0 10px;
}
nav>ul>li:hover{
    background-color: lightgray;
}
nav>ul>li>a{
    color:red;
    text-decoration: none;
}
nav>ul>li>a:hover{
    color: white;
}
article{
    grid-area: a;
    background-color: black;
    text-align: justify;
    font-size: 10px;
}
article>h2{
    font-size: 15px;
}
article>img{
    float: left;
    width: 250px;
    margin: 20px;
}
article>ol{
    list-style-type: square;
    margin: 20px;
}
footer{
    grid-area: f;
    text-align: center;
    padding: 5px;
}
table{
    border: 1px solid white;
}
td, th{
    border: 1px solid white;
    margin: 0;
}
.masodik{
    background-color: gray;
}

@media screen and (max-width:700px){
    main{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "h"
        "n"
        "a"
        "f";
    }
}